# Ignore large dataset files
src/EMIP-Toolkit/emtk/datasets/EMIP/
src/EMIP-Toolkit/emtk/datasets/AlMadi2018
src/EMIP-Toolkit/emtk/datasets/EMIP.zip

# Ignore Python relevant files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Ignore folders
thesis.egg-info/

/src/Tools/note.txt
/src/Dataset/
.Rproj.user
