# 忽略大型数据集
EMIP-Toolkit/emtk/datasets/EMIP/
EMIP-Toolkit/emtk/datasets/AlMadi2018
EMIP-Toolkit/emtk/datasets/EMIP.zip

# 忽略Python相关文件
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# 忽略输出目录
Playground/AIMadi/output/
Playground/output/